
html {
    background-image: url("../img/road.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    }
    
h1 {
color: red;
font-family: helvetica;
text-align: center;
}


h2 {
color: white;
font-size: 1em;
font-family: helvetica;
}

li{
 list-style-type: none;
 }