/* center everything, fix picture, fix nav bar */


*,
*:before,
*:after{margin:0;padding:0;}


html {
	background-image: url("../img/lace.png");
}


body{
	background-color:black; 
	margin: 0 auto;
	width: 800px;
}

main {
	margin: 0 auto;
	position: relative;
} 

main header {	
margin: 0 auto;}

main h1{
	color: white;	
	margin: 0 auto;
}


header figure {
	text-align:center;	
	
}


h2 {
	color: white;
		margin: 0 auto;
	
}

a,a:visited{text-decoration:none;
			color:white;}

a:hover,a:active{color:rgba(250,250,250,.8);}

/* ============= nav bar ==================*/
nav{
	color:black;
	margin: 0 auto;
	width: 100%;
	text-align:center;
}

nav ul {
	text-align:center;
	list-style-type:none;}

nav ul li {
	text-align:center;
	display:inline-block; }

nav ul li a{
	display: block;
	width: 160px;
	margin: 0 auto;
}


/* ============= nav bar ==================*/

main h3{
	color: white;
		margin: 0 auto;
}


main h4 { 
color: white;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;

}

main article {
	width: 600px;
	background-color: white;
	margin: 0 auto;
}


main section {
	width: 600px;
	margin: 0 auto;

}


main article ul.links { 
	list-style-type: disc; 	
	background-color: white;
	position: relative;
	margin: 0 auto;
	

	}

main article li.data {
	display: list-item;	
	background-color: white;
	position:relative;
	margin: 0 auto;
}

main article p {
	padding: 1em 1em 0em 1em; }
	
main article ul {
	padding: .5em 1em 1em 2em; }



footer {
	color: white;
	width: 800px;
	clear: both;
	margin: 0 auto;
	text-align:center;

}
